Code - OSS/
Code/
ClickUp/
Postman/
QtProject.conf
audacity/
background
baloofileinformationrc
betterlockscreenrc
btop/
dconf/
dolphinrc
go/
gtk-2.0/
gtk-3.0/
gtk-4.0/
hyprpanel/
jgit/
kde.org/
kiorc
libreoffice/
microsoft-edge/
mimeapps.list
nwg-look/
pavucontrol.ini
polybar/
pulse/
session/
spotify/
systemd/
trashrc
user-dirs.dirs
user-dirs.locale
xarchiver/
xsettingsd/
Thunar/
xfce4/